{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block heading %}  Привет!
<br>Я Полина и я автор.{% endblock %}
{% block content %}
<p>
Давайте я расскажу о себе.
<br>Я любимая жена и любящая мама. 
А ещё, я немного интроверт и очень козерог ;) 
Я живу в прекрасном месте недалеко от Москвы, в доме, который нарисовала сама. Рядом лес, в котором я гуляю с собакой и ищу вдохновение.
Там моё место силы.
<br>Я люблю автомобили, но только те, что умеют правильно и быстро ездить, я люблю Subaru! 
<br>Так случилось, что моя работа была всегда связана с продажами. О боги! Как я это не люблю!
А про общение с клиентами вообще вспоминать не хочется! 
Я уже говорила, что немного интроверт, я долго искала свой путь для реализации себя и этот поиск привел меня к Python.  
Мне нравится, что в программировании есть четкий алгоритм, но при этом все равно остается много пространства для творчества.
Это кардинально новое для меня направление, и от этого ещё интереснее!
Про то, что я козерог и очень упёртая по своей натуре, я тоже уже говорила, думаю, это главное про меня.
<br>Спасибо, что прочитал :)
</p>
<p>
<a href="https://github.com/STI-xa">Мой аккаунт в Github</a>
</p>
<style>
  .figure {
    display: table;
  }
  .figcaption {
    padding: 0.5em;
    display: table-caption;
    caption-side: top;
    border: thin silver solid;
    border-bottom: thin silver solid;
  }
</style>
<div style="padding-top:70px;">
  <div class="figcaption">
    <h6><i>Это я, лежу в сторону мечты :)</i></h6>
    <img src="{% static 'img/IMG_6572.jpg' %}" alt="My image"/>
  </div>
</div>
  <div style="padding-left:350px;">
    <div class="figcaption">
      <h6><i>И любимая кружка имеется ;)</i></h6>
      <img src="{% static 'img/IMG_7793.jpg' %}" alt="My image"/>
    </div>
  </div>


{% endblock %}