{% extends "base.html" %}
{% load thumbnail %}
{% block  title %}Подписки на любимых авторов{% endblock %}
{% block heading %}Подписки на любимых авторов{% endblock %}
  {% block content %}
    {% include 'posts/includes/switcher.html' with follow=True%}
    {% for post in page_obj %}
      {% include "includes/article.html" with with_author=True group_link_on_page=True %}
      <a href="{% url "posts:post_detail" post.id %}">подробная информация</a>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  {% endblock %}
